<!--
  Generated template for the Category page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ category.object.get("name") }}</ion-title>
    
    <ion-buttons end>
      <button *ngIf="cloudService?.user?.get('type')=='admin'" ion-button>
        <ion-badge item-right><ion-icon name="md-notifications" item-left></ion-icon> 2</ion-badge>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

	<div *ngFor="let item of category?.items?.array; let i = index">
	    <ion-row *ngIf="i%2==0">
	      <ion-col *ngIf="category.items.array[i]" ><div>
	        <div class="list-items">
	          <div class="item-menu">

	              <img (click)="viewItem(category.items.array[i].id)" src="{{ category.items[i]?.get('thumb').url() }}" alt="{{ category.items.array[i]?.get('name') }}"/>

	              <div class="overlay">
	                <span class="pull-left" color="light">
	                  {{ category.items.array[i]?.get('name') }} - ${{ category.items.array[i]?.get("price") }}
	                </span>
	              </div>

	              <div *ngIf="cloudService.user?.get('type')=='admin'" class="edit-button" (click)="editItem(i)">
	                <button ion-button color="light" round>
	                  <ion-icon name="md-create"></ion-icon>
	                </button>
	              </div>
	            </div>
	          </div>
	        </div>
	      </ion-col>

	      <ion-col *ngIf="category.items.array[i+1]" ><div>
	        <div class="list-items">
	          <div class="item-menu">

	              <img (click)="viewItem(category.items.array[i+1].id)" src="{{ category.items[i+1]?.get('thumb').url() }}" alt="{{ category.items.array[i+1]?.get('name') }}"/>

	              <div class="overlay">
	                <span class="pull-left" color="light">
	                  {{ category.items.array[i+1]?.get('name') }} - ${{ category.items.array[i+1]?.get("price") }}
	                </span>
	              </div>

	              <div *ngIf="cloudService.user?.get('type')=='admin'" class="edit-button" (click)="editItem(i)">
	                <button ion-button color="light" round>
	                  <ion-icon name="md-create"></ion-icon>
	                </button>
	              </div>
	            </div>
	          </div>
	        </div>
	      </ion-col>

	    </ion-row>
	</div>

</ion-content>
