<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="data.editItem.name">
    {{data.editItem.name}} <span small color="danger">(edit)</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngIf="files.length>0">
        <ion-col center>
          <div *ngFor="let file of files; let i = index">
            <ion-row *ngIf="i%2==0">
              
              <ion-col *ngIf="files[i]" center>
                  
                <div *ngIf="!files[i].id" class="list-items" center>
                    <div center>
                      <ion-thumbnail center>
                          <img src="data:{{files[i]._source.type}};{{files[i]._source.format}},{{files[i]._source.base64}}"/>
                          <div [hidden]="false" (click)="removeImage(i)">
                            <ion-icon name="md-close"></ion-icon>
                          </div>
                      </ion-thumbnail>
                  </div>
                </div>

                <div *ngIf="files[i].id" class="list-items" center>
                    <div center>
                      <ion-thumbnail center>
                          <img src="{{configService.companyFiles}}/{{files[i]?.get('file').name()}}"/>
                          <div [hidden]="false" (click)="removeImage(i)">
                            <ion-icon name="md-close"></ion-icon>
                          </div>
                      </ion-thumbnail>
                  </div>
                </div>

              </ion-col>

              <ion-col *ngIf="files[i+1]" center>
                  
                <div *ngIf="!files[i+1].id" class="list-items" center>
                    <div center>
                      <ion-thumbnail center>
                          <img src="data:{{files[i+1]._source.type}};{{files[i+1]._source.format}},{{files[i+1]._source.base64}}"/>
                          <div [hidden]="false" (click)="removeImage(i+1)">
                            <ion-icon name="md-close"></ion-icon>
                          </div>
                      </ion-thumbnail>
                  </div>
                </div>

                <div *ngIf="files[i+1].id" class="list-items" center>
                    <div center>
                      <ion-thumbnail center>
                          <img src="{{configService.companyFiles}}/{{files[i+1]?.get('file').name()}}"/>
                          <div [hidden]="false" (click)="removeImage(i+1)">
                            <ion-icon name="md-close"></ion-icon>
                          </div>
                      </ion-thumbnail>
                  </div>
                </div>

              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-item>

      <ion-item>
        <ion-icon name="md-photos" item-left></ion-icon>
        {{files.length}} images selected
        <button ion-button round color="primary" item-right (click)="clickSelect()">Select</button>
        <input id="files" hidden="true" (change)="fileChangeEvent($event)" type="file" multiple/>
      </ion-item>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input [(ngModel)]="data.editItem.name" type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Price {{configService.currency.sign}}</ion-label>
        <ion-input [(ngModel)]="data.editItem.price" type="number" placeholder="Enter price" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea [(ngModel)]="data.editItem.description" ></ion-textarea>
      </ion-item>

      <!-- OPTIONS -->
      <ion-item-divider>
        <ion-label>Options</ion-label>
        <button (click)="addNewOption()" ion-button color="light" round item-right icon-left>New Option</button>
      </ion-item-divider>
      <ion-item *ngFor="let option of cloudService?.options">
        <ion-label>{{ option?.get('name') }}</ion-label>
        <ion-checkbox [(ngModel)]="optionsModels[option?.get('name')]" color="primary"></ion-checkbox>
      </ion-item>

      <ion-item-divider>
        <ion-label>Extras</ion-label>
        <button (click)="addNewExtra()" ion-button color="light" round item-right icon-left>New Extra</button>
      </ion-item-divider>
      <ion-item *ngFor="let extra of cloudService?.extras">
        <ion-label>{{ extra?.get('name') }} {{configService.currency.sign}}</ion-label>
        <ion-input [(ngModel)]="extrasModels[extra?.get('name')]" type="number" placeholder="Enter cost"></ion-input>
      </ion-item>

      <ion-item-divider>
        <ion-label>Sizes</ion-label>
        <button (click)="addNewSize()" ion-button color="light" round item-right icon-left>New Size</button>
      </ion-item-divider>
      <ion-item *ngFor="let size of cloudService?.sizes">
        <ion-label>{{ size?.get('name') }} {{configService.currency.sign}}</ion-label>
        <ion-input [(ngModel)]="sizesModels[size?.get('name')]" type="number" placeholder="Enter cost"></ion-input>
      </ion-item>
      
      <ion-item color="danger">
        <ion-toggle color="danger" [(ngModel)]="data.editItem.isDeleted" ></ion-toggle>
        <ion-label>
          Delete ?
        </ion-label>
        <ion-icon name='md-trash' item-left></ion-icon>
      </ion-item>
      
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
        <button (click)="createItem()" ion-button block>Save</button>
      </ion-item>
  </ion-toolbar>
</ion-footer>
