<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="card-background-page">

  <h3 text-center>{{configService.companyName}}</h3>

  <div *ngFor="let category of menu?.array; let i = index">
    <ion-row *ngIf="i%2==0">
      <ion-col *ngIf="menu.array[i]" ><div>
        <div class="list-items">
          <div class="item-menu" (click)="viewCategory(menu.array[i].id)">

              <img src="{{configService.companyFiles}}/{{ menu?.map[menu?.array[i].id]?.images.array[0]?.get('file')?.name()}}"/>

              <div class="overlay">

                <span class="pull-left" color="light">
                  {{ menu.array[i].get('name') }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col *ngIf="menu.array[i+1]"><div>
        <div class="list-items">
          <div class="item-menu" (click)="viewCategory(menu.array[i+1].id)">
            <img src="{{configService.companyFiles}}/{{ menu?.map[menu?.array[i+1].id]?.images.array[0]?.get('file')?.name()}}"/>
            <div class="overlay">
              <span class="pull-left" color="light">
                {{ menu.array[i+1].get('name') }}
              </span>
            </div>
          </div>
        </div>
      </div></ion-col>

    </ion-row>
  </div>

</ion-content>

<ion-footer *ngIf="cloudService?.user?.get('type')=='admin'">
  <ion-toolbar>
    <ion-buttons end>
      <button (click)="openModal()" ion-button icon-right color="royal">
        Add
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>