<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Orders</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div>
        <div class="grid-basic-page">
          <ion-row>
            <ion-col><div>Quantity</div></ion-col>
            <ion-col><div><ion-icon name="md-trending-up"></ion-icon> Order Status</div></ion-col>
            <ion-col><div>Total</div></ion-col>
          </ion-row>
        </div>
        <!-- PENDING APPROVAL ORDERS -->
        <div class="grid-basic-page">
          <ion-row>
            <ion-col><div>{{userService?.ordersDetails?.pendingApprovalOrders?.array?.length }}</div></ion-col>
            <ion-col><div>Pending Approval</div></ion-col>
            <ion-col><div>{{configService?.currency?.sign}} {{userService?.ordersDetails?.pendingApprovalOrders?.total}}</div></ion-col>
          </ion-row>
        </div>
        <!-- IN KITCHEN ORDERS -->
        <div class="grid-basic-page">
          <ion-row>
            <ion-col><div>{{userService?.ordersDetails?.inKitchenOrders?.array?.length }}</div></ion-col>
            <ion-col><div>In Kitchen</div></ion-col>
            <ion-col><div>{{configService?.currency?.sign}} {{userService?.ordersDetails?.inKitchenOrders?.total}}</div></ion-col>
          </ion-row>
        </div>
        <!-- OUT FOR DELIVERY ORDERS -->
        <div class="grid-basic-page">
          <ion-row>
            <ion-col><div>{{userService?.ordersDetails?.outForDeliveryOrders?.array?.length }}</div></ion-col>
            <ion-col><div>Out For Delivery</div></ion-col>
            <ion-col><div>{{configService?.currency?.sign}} {{userService?.ordersDetails?.outForDeliveryOrders?.total}}</div></ion-col>
          </ion-row>
        </div>
        <!-- COMPLETED ORDERS -->
        <div class="grid-basic-page">
          <ion-row>
            <ion-col><div>{{userService?.ordersDetails?.completedOrders?.array?.length }}</div></ion-col>
            <ion-col><div>Completed</div></ion-col>
            <ion-col><div>{{configService?.currency?.sign}} {{userService?.ordersDetails?.completedOrders?.total}}</div></ion-col>
          </ion-row>
        </div>
        <!-- DECLINED ORDERS -->
        <div class="grid-basic-page">
          <ion-row>
            <ion-col><div>{{userService?.ordersDetails?.declinedOrders?.array?.length }}</div></ion-col>
            <ion-col><div>Declined </div></ion-col>
            <ion-col><div>{{configService?.currency?.sign}} {{userService?.ordersDetails?.declinedOrders?.total}}</div></ion-col>
          </ion-row>
        </div>
        <!-- CANCELLED ORDERS -->
        <div class="grid-basic-page">
          <ion-row>
            <ion-col><div>{{userService?.ordersDetails?.cancelledByClientOrders?.array?.length }}</div></ion-col>
            <ion-col><div>Cancelled By Client </div></ion-col>
            <ion-col><div>{{configService?.currency?.sign}} {{userService?.ordersDetails?.cancelledByClientOrders?.total}}</div></ion-col>
          </ion-row>
        </div>
      </div>
    </ion-card-content>
    <ion-item>
      <ion-label>Filter Orders Date : </ion-label>
      <ion-datetime displayFormat="MMMM DD YYYY" [(ngModel)]="userService.ordersDate" (ionChange)="ordersFilterDateChange($event)"></ion-datetime>
    </ion-item>
  </ion-card>

  <div>
    <!-- PENDING ORDERS LIST -->
    <div>
      <ion-list-header (click)="flipList('pendingApprovalOrders')">    
        <ion-icon item-right name='arrow-down' [hidden]="showLists.pendingApprovalOrders"></ion-icon>
        <ion-icon item-right name='arrow-up' [hidden]="!showLists.pendingApprovalOrders"></ion-icon>
        <span>{{userService?.ordersDetails?.pendingApprovalOrders?.array?.length }} Pending Approval Orders</span> 
      </ion-list-header>
      
      <ion-list inset *ngIf="showLists.pendingApprovalOrders">
        <ion-item-sliding *ngFor="let order of userService?.ordersDetails?.pendingApprovalOrders?.array; let i = index">
          <ion-item (click)="viewOrder(order.objectId,i)">
            <ion-note item-right>
              {{configService?.currency?.sign}}{{order.transaction.total}}
            </ion-note>
            <span [hidden]="order.type=='delivery'">TAKEOUT ORDER</span>
            <span [hidden]="order.type=='takeout'" color="">{{order.address?.unitNumber}}  {{order.address?.buildingNumber}} {{order.address?.streetName}} {{order.address?.city}} {{order.address?.postalCode}} {{order.address?.state}} </span>
            <br><span *ngFor="let item of order.items"> - {{item.quantity}} {{item.orignalItem.name}} </span>
            <h3><span color="dark-gray">Payment using </span> {{order.transaction.paymentType}}</h3>
            <p><span color="dark-gray">Date/Time </span>{{getDate(order.createdAt)}}</p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="fb-color" (click)="openAddressOnMaps(order.address,order)">
              <ion-icon name="ios-navigate-outline"></ion-icon>
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="approveOrder(order.objectId,i,order.status)">
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
            </button>
            <button ion-button color="primary" (click)="declineOrder(order.objectId,i,order.status)">
              <ion-icon name="md-trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <!-- IN KITCHEN ORDERS LIST -->
    <div>
      <ion-list-header (click)="flipList('inKitchenOrders')">    
        <ion-icon item-right name='arrow-down' [hidden]="showLists.inKitchenOrders"></ion-icon>
        <ion-icon item-right name='arrow-up' [hidden]="!showLists.inKitchenOrders"></ion-icon>
        <span>{{userService?.ordersDetails?.inKitchenOrders?.array?.length }} In Kitchen Orders</span> 
      </ion-list-header>
      
      <ion-list inset [hidden]="!showLists.inKitchenOrders">
        <ion-item-sliding *ngFor="let order of userService?.ordersDetails?.inKitchenOrders?.array; let i = index">
          <ion-item (click)="viewOrder(order.objectId,i)">
            <ion-note item-right>
              {{configService?.currency?.sign}}{{order.transaction.total}}
            </ion-note>
            <span [hidden]="order.type=='delivery'">TAKEOUT ORDER</span>
            <span [hidden]="order.type=='takeout'" color=""><span [hidden]="!order.address?.unitNumber">{{order.address?.unitNumber}},</span> {{order.address?.buildingNumber}} {{order.address?.streetName}} {{order.address?.city}} {{order.address?.postalCode}} {{order.address?.state}} </span>
            <br><span *ngFor="let item of order.items"> - {{item.quantity}} {{item.orignalItem.name}} </span>
            <h3><span color="dark-gray">Payment using </span> {{order.transaction.paymentType}}</h3>
            <p><span color="dark-gray">Date/Time </span>{{getDate(order.createdAt)}}</p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="fb-color" (click)="openAddressOnMaps(order.address,order)">
              <ion-icon name="ios-navigate-outline"></ion-icon>
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="fb-color" (click)="showDriverSelectionAlert(order.objectId,i)">
              <ion-icon name="ios-bicycle-outline"></ion-icon>
            </button>
            <button ion-button color="primary" (click)="declineOrder(order.objectId,i,order.status)">
              <ion-icon name="md-trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <!-- OUT FOR DELIVERY ORDERS LIST -->
    <div>
      <ion-list-header (click)="flipList('outForDeliveryOrders')">    
        <ion-icon item-right name='arrow-down' [hidden]="showLists.outForDeliveryOrders"></ion-icon>
        <ion-icon item-right name='arrow-up' [hidden]="!showLists.outForDeliveryOrders"></ion-icon>
        <span>{{userService?.ordersDetails?.outForDeliveryOrders?.array?.length }} Out for Delivery Orders</span> 
      </ion-list-header>
      
      <ion-list inset [hidden]="!showLists.outForDeliveryOrders">
        <ion-item-sliding *ngFor="let order of userService?.ordersDetails?.outForDeliveryOrders?.array; let i = index">
          <ion-item (click)="viewOrder(order.objectId,i)">
            <ion-note item-right>
              {{configService?.currency?.sign}}{{order.transaction.total}}
            </ion-note>
            <span [hidden]="order.type=='delivery'">TAKEOUT ORDER</span>
            <span [hidden]="order.type=='takeout'" color=""><span [hidden]="!order.address?.unitNumber">{{order.address?.unitNumber}},</span> {{order.address?.buildingNumber}} {{order.address?.streetName}} {{order.address?.city}} {{order.address?.postalCode}} {{order.address?.state}} </span>
            <br><span *ngFor="let item of order.items"> - {{item.quantity}} {{item.orignalItem.name}} </span>
            <h3><span color="dark-gray">Payment using </span> {{order.transaction.paymentType}}</h3>
            <p><span color="dark-gray">Date/Time </span>{{getDate(order.createdAt)}}</p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="fb-color" (click)="openAddressOnMaps(order.address,order)">
              <ion-icon name="ios-navigate-outline"></ion-icon>
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="favorite" (click)="completeOrder(order.objectId,i)">
              <ion-icon name="ios-checkbox"></ion-icon>
            </button>
            <button ion-button color="primary" (click)="declineOrder(order.objectId,i,order.status)">
              <ion-icon name="md-trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <!-- COMPLETED ORDERS LIST -->
    <div>
      <ion-list-header (click)="flipList('completedOrders')">    
        <ion-icon item-right name='arrow-down' [hidden]="showLists.completedOrders"></ion-icon>
        <ion-icon item-right name='arrow-up' [hidden]="!showLists.completedOrders"></ion-icon>
        <span>{{userService?.ordersDetails?.completedOrders?.array?.length }} Complete Orders</span> 
      </ion-list-header>
      
      <ion-list inset [hidden]="!showLists.completedOrders">
        <div *ngFor="let order of userService?.ordersDetails?.completedOrders?.array; let i = index">
          <ion-item (click)="viewOrder(order.objectId,i)">

            <ion-note item-right>
              {{configService?.currency?.sign}}{{order.transaction.total}}
            </ion-note>
            <span [hidden]="order.type=='delivery'">TAKEOUT ORDER</span>
            <span [hidden]="order.type=='takeout'" color=""><span [hidden]="!order.address?.unitNumber">{{order.address?.unitNumber}},</span> {{order.address?.buildingNumber}} {{order.address?.streetName}} {{order.address?.city}} {{order.address?.postalCode}} {{order.address?.state}} </span>
            <br><span *ngFor="let item of order.items"> - {{item.quantity}} {{item.orignalItem.name}} </span>
            <h3><span color="dark-gray">Payment using </span> {{order.transaction.paymentType}}</h3>
            <p><span color="dark-gray">Date/Time </span>{{getDate(order.createdAt)}}</p>
          </ion-item>
        </div>
        <ion-item-options side="left">
          <button ion-button color="fb-color" (click)="openAddressOnMaps(order.address,order)">
            <ion-icon name="ios-navigate-outline"></ion-icon>
          </button>
        </ion-item-options>
      </ion-list>
    </div>

    <!-- DECLINED ORDERS LIST -->
    <div>
      <ion-list-header (click)="flipList('declinedOrders')">    
        <ion-icon item-right name='arrow-down' [hidden]="showLists.declinedOrders"></ion-icon>
        <ion-icon item-right name='arrow-up' [hidden]="!showLists.declinedOrders"></ion-icon>
        <span>{{userService?.ordersDetails?.declinedOrders?.array?.length }} Declined Orders</span> 
      </ion-list-header>
      
      <ion-list inset [hidden]="!showLists.declinedOrders">
        <ion-item-sliding *ngFor="let order of userService?.ordersDetails?.declinedOrders?.array; let i = index">
          <ion-item (click)="viewOrder(order.objectId,i)">
            <ion-note item-right>
              {{configService?.currency?.sign}}{{order.transaction.total}}
            </ion-note>
            <span [hidden]="order.type=='delivery'">TAKEOUT ORDER</span>
            <span [hidden]="order.type=='takeout'" color=""><span [hidden]="!order.address?.unitNumber">{{order.address?.unitNumber}},</span> {{order.address?.buildingNumber}} {{order.address?.streetName}} {{order.address?.city}} {{order.address?.postalCode}} {{order.address?.state}} </span>
            <br><span *ngFor="let item of order.items"> - {{item.quantity}} {{item.orignalItem.name}} </span>
            <h3><span color="dark-gray">Payment using </span> {{order.transaction.paymentType}}</h3>
            <p><span color="dark-gray">Date/Time </span>{{getDate(order.createdAt)}}</p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="fb-color" (click)="openAddressOnMaps(order.address,order)">
              <ion-icon name="ios-navigate-outline"></ion-icon>
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="approveOrder(order.objectId,i,order.status)">
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <!-- CANCELLED ORDERS LIST -->
    <div>
      <ion-list-header (click)="flipList('cancelledByClientOrders')">    
        <ion-icon item-right name='arrow-down' [hidden]="showLists.cancelledByClientOrders"></ion-icon>
        <ion-icon item-right name='arrow-up' [hidden]="!showLists.cancelledByClientOrders"></ion-icon>
        <span>{{userService?.ordersDetails?.cancelledByClientOrders?.array?.length }} Cancelled Orders</span> 
      </ion-list-header>
      
      <ion-list inset [hidden]="!showLists.cancelledByClientOrders">
        <ion-item-sliding *ngFor="let order of userService?.ordersDetails?.cancelledByClientOrders?.array; let i = index">
          <ion-item (click)="viewOrder(order.objectId,i)">
            <ion-note item-right>
              {{configService?.currency?.sign}}{{order.transaction.total}}
            </ion-note>
            <span [hidden]="order.type=='delivery'">TAKEOUT ORDER</span>
            <span [hidden]="order.type=='takeout'" color="">{{order.address?.unitNumber}} {{order.address?.buildingNumber}} {{order.address?.streetName}} {{order.address?.city}} {{order.address?.postalCode}} {{order.address?.state}} </span>
            <br><span *ngFor="let item of order.items"> - {{item.quantity}} {{item.orignalItem.name}} </span>
            <h3><span color="dark-gray">Payment using </span> {{order.transaction.paymentType}}</h3>
            <p><span color="dark-gray">Date/Time </span>{{getDate(order.createdAt)}}</p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="fb-color" (click)="openAddressOnMaps(order.address,order)">
              <ion-icon name="ios-navigate-outline"></ion-icon>
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="approveOrder(order.objectId,i,order.status)">
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <!-- END OF LISTS SECTION FOR ADMIN -->
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button (click)="addOrder()" ion-button icon-right color="royal">
        Add
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
