<ion-menu [content]="content">

  <ion-content class="menu-left">
    <!-- User profile -->
    <div text-center padding-top padding-bottom class="primary-bg menu-left">
      <a menuClose (click)="viewMyProfile()">
        <img class="profile-picture" src="{{user?.profileImg}}">
        <h4 color="light">{{user?.fullName}}</h4>
      </a>
    </div>

    <ion-list class="list-full-border">
      <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)" [hidden]="menuButtonsVisibility[page.title]">
        <ion-icon item-left name="{{ page.icon }}"></ion-icon>
        {{ page.title }}
        <ion-badge danger item-right *ngIf="page.count">{{ pageCounts[page?.count] }}</ion-badge>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
