<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Checkout</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class=" gray-bg has-footer">

  <div *ngIf="!cloudService.isAdmin()">
    <!-- SEARCH BAR FOR ADDRESS AND CONTACT LOOKUP-->
    <ion-searchbar
      [(ngModel)]="search.ngModel"
      [showCancelButton]='search.showCancel'
      [placeholder]="search.placeholder"
      (ionInput)="onSearchInput($event)"
      (ionFocus)="onSearchFocus($event)"
      (ionBlur)="onSearchBlur($event)"
      (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>

    <div *ngIf="!search.ngModel.length==0">
      <ion-list class="list-full-border card" margin padding radio-group [ngModel]="searchSelected" (ngModelChange)="onSearchSelect($event)">
        
        <ion-item-divider color="light">Phone/Email</ion-item-divider>
        <ion-item *ngFor="let contact of search?.contacts let i = index">
          <ion-icon name="md-home" item-left></ion-icon>
          <ion-label>
            {{contact?.get('phone')}}
            <p class="text-hint">{{contact?.get('email')}}</p>
          </ion-label>
          <ion-radio value="contact_{{contact.id}}"></ion-radio>
        </ion-item>
        
        <ion-item-divider color="light">Address</ion-item-divider>
        <ion-item *ngFor="let address of search?.addresses let i = index">
          <ion-icon name="md-home" item-left></ion-icon>
          <ion-label>
            {{address.get('unitNumber')}}, {{address.get('buildingNumber')}} {{address.get('streetName')}}
            <p class="text-hint">{{address.get('city')}}, {{address.get('state')}}</p>
            <p class="text-hint">{{address.get('postalCode')}}, {{address.get('country')}}</p>
          </ion-label>
          <ion-radio value="address_{{address.id}}"></ion-radio>
        </ion-item>
      
      </ion-list>
    </div>
  </div>

  <!--select payment method-->
  <div margin>Payment</div>
  <ion-list class="list-full-border card" margin radio-group [ngModel]="paymentOptionSelected" (ngModelChange)="paymentOptionOnChange($event)">

    <div *ngFor="let option of configService.payment.payment_options" [hidden]="!option.value">
      <ion-item>
        <ion-label>
          {{option.name}}
          <p class="text-hint">
            {{option.text}}
          </p>
        </ion-label>
        <ion-radio value="{{option.type}}"></ion-radio>
      </ion-item>
      
      <ion-list class="list-full-border card" padding radio-group [ngModel]="paymentTypeSelected" *ngIf="paymentOptionSelected[option.type]" (ngModelChange)="onPaymentTypeChange($event)">
        <ion-item *ngFor="let paymentType of option.payment_types">
          <ion-icon name="{{paymentType.icon_name}}" item-left></ion-icon>
          <ion-label>
            {{paymentType.name}}
            <p class="text-hint">
              pay using ...
            </p>
          </ion-label>
          <ion-radio value="{{paymentType.type}}"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
  
  <!-- TAKE OUT OR DELIVERY SELECT -->

  <ion-list class="list-full-border card" margin padding radio-group [ngModel]="takoutOrDeliverySelected" (ngModelChange)="onTakoutOrDeliverySelect($event)">
    <ion-item>
      <ion-icon name="md-home" item-left></ion-icon>
      <ion-label>
        TAKEOUT/PICKUP
      </ion-label>
      <ion-radio value="0"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-icon name="md-home" item-left></ion-icon>
      <ion-label>
        Delivery
      </ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
  </ion-list>

  <!--Contact Info-->
  <div margin>
    <span>Contact Info</span>
    <ion-icon name="md-create" class="pull-right" (click)="addContact()"></ion-icon>
  </div>

  <ion-list class="list-full-border card" margin padding radio-group [ngModel]="contactSelected" (ngModelChange)="onContactSelect($event)" *ngIf="user?.contacts?.length">
    <ion-item *ngFor="let contact of user?.contacts let i = index">
      <ion-icon name="md-home" item-left></ion-icon>
      <ion-label>
        {{contact?.phone}}
        <p class="text-hint">{{contact?.email}}</p>
      </ion-label>
      <ion-radio value="{{i}}"></ion-radio>
    </ion-item>
  </ion-list>

  <div [hidden]="takoutOrDeliverySelected=='0'">
    <!--shipping address-->
    <div margin >
      <span>Shipping address</span>
      <!-- <ion-icon name="ios-search-outline" class="pull-right" (click)="openAddressSearchModal()"></ion-icon> -->
      <ion-icon name="md-create" class="pull-right" (click)="addAddress()"></ion-icon>
    </div>

    <ion-list class="list-full-border card" margin padding radio-group [ngModel]="addressSelected" (ngModelChange)="onAddressSelect($event)" *ngIf="user?.addresses?.length">
      <ion-item *ngFor="let address of user?.addresses let i = index">
        <ion-icon name="md-home" item-left></ion-icon>
        <ion-label>
          {{address?.unitNumber}}, {{address?.buildingNumber}} {{address?.streetName}}
          <p class="text-hint">{{address?.city}}, {{address?.state}}</p>
          <p class="text-hint">{{address?.postalCode}}, {{address?.country}}</p>
        </ion-label>
        <ion-radio value="{{i}}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>

  <!-- SPECIAL INSTRUCTIONS -->
  <div margin>
    <ion-item>
      <ion-label floating>Special Order Instructions</ion-label>
      <ion-textarea [(ngModel)]="specialOrderInstructions"></ion-textarea>
    </ion-item>
  </div>

  

  
</ion-content>

<!--Footer button-->
<ion-footer class="cart-footer">
  <ion-title>
    <span color="dark">Total</span>
    <br/>
    <span class="bold" color="danger">{{configService.currency.sign}} {{cart.get("total")}}</span>
  </ion-title>
  <ion-buttons end>
    <button ion-button (click)="buy()" color="danger">
      PLACE ORDER
    </button>
  </ion-buttons>
</ion-footer>
